---
import AboutImage from '../assets/about_header.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Our Trip"
	author='Sharyq Siddiqi, cuz I programmed this website lmao'
	description="Sharyq & Benji"
	pubDate={new Date('June 30 2026')}
	heroImage={AboutImage}
>
	<p>
		In the Distant Year of 2018, in an Middle School Cafeteria, Benji and I had become friends. 
		Now, nearly 2 Degrees later, and nearly 8 years, We have decided that before they both start
		graduate school programs, that they will spend ~3 weeks together in the beautiful country of Thailand.
	</p>

	<p>
		The travels will extend from the South, starting in Hat Yai, all the way to the Northern most city of Chiang Mai.
		Beginning on July 13th, they will travel by bus and train all the way through, seeing ~9 Cities across 3 primary Regions of Thailand
		(South, Central, North), exploring the history, culture, and mostly food.
	</p>

	<p>
		If you were sent this website, 1 of these things are true:
	</p>

	<ul>
		<li>We talked to you, and you asked us to send us pictures and updates about our travels</li>
		<li>We didn't talk to you, but we wanted to give you updates about our trip</li>
		<li>It was sent to you by mistake, and now you are subject to us showing off</li>
	</ul>

	<p>
		Regardless of reason, we hope you enjoy the little updates we send out, the goal is that at least one of us posts something here a day
		so that no goes "Hey, I wonder what Sharyq and/or Benji are upto", you will know. If you just happened to find this website by accident,
		I hope it inspires, or helps you with your own Thailand trip, or at the bare minimum, is a good read.
	</p>

	<p>
		See you soon,
	</p>
	<p>-Sharyq</p>
</Layout>
